/* --liver: #725752ff;
--battleship-grey: #878e88ff;
--opal: #96c0b7ff;
--beige: #d4dfc7ff;
--blond: #fef6c9ff; */


body{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #725752ff;
}

.fa{
  color:red;
}

h1{
  background-color: #96c0b7ff;
  width: 100%;
  text-align: center;
}

.container{
  color:#fef6c9ff;
  width: 100%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

textarea{
  width: 100%;
  background-color: #878e88ff;
